<!DOCTYPE html>
<html lang="en">
<head>

<script src="../js/jquery10.js"></script>
<script src="../js/migrate.js"></script>
<script src="../js/modernizr.custom.57033.js"></script>
<script src="../js/links.js"></script>


<link rel="stylesheet" href="../css/selectize.default.css" data-theme="default">
<script src="../js/selectize.js"></script>


<style>
.link_item{
	position:relative;
	float:left;
	margin-bottom:20px;
	padding:20px;
	border:1px solid #000;
	clear:both;
}
.url_title{
	background-color:orange;
}

.filter_container{
	position:relative;
	float:left;
	width:100%;
}

.search_button{
	background-color:orange;
	position:relative;
	float:left;
	cursor:pointer;
}
.error_class{
	border:1px solid red;
}
	
.sort_menu{
	position:relative;
	float:left;
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.sort_upvotes,.sort_downvotes,.sort_recent{
	position:relative;
	float:left;
	background-color:blue;
	cursor:pointer;
	margin-right:20px;
	color:white;
}

</style>

</head>
<body>

<h1>total results: <%= total_results %></h1>
<h2>total pages: <%= total_pages %></h2>

<a href="/links">View all</a>

<div class="filter_container">

	<label>Search</label>
	<input class="search_input" value="<%= search_keyword %>" />
	
	<div class="demo">
        <div class="control-group">
            <label for="input-tags">Select language</label>
			<input type="text" id="input-learning-language-tags" data="" class="input-tags input-language-tags" value="<%= search_language %>">
        </div>
	</div>  
	
	<div class="search_button">search</send>


</div>

<div class="sort_menu">
	<div class="sort_upvotes">Sort by upvotes</div>
	<div class="sort_downvotes">Sort by downvotes</div>
	<div class="sort_recent">Sort by most recent</div>
</div>

<div class="links_listing">

    <% links_found.forEach(function(link) { %>
      <ul class="link_item" upvotes="<%= link.upvotes.length %>" downvotes="<%= link.downvotes.length %>">
		
		<li>
			<div class="owners_box">
				<div class="owner_id"><%= link.owner %></div>
				<div class="owner_name"></div>
				<div class="owner_pic"></div>
			</div>
		</li>
		
		<li>title: <%= link.title %></li>
		<li><a class="url_title" href="/HelpfulLink/<%= link.url_title %>" >url_title: <%= link.url_title %></a></li>
		<li>language: <%= link.language %></li>
		<li>url_destination: <%= link.url_destination %></li>
		<li>upvotes: <%= link.upvotes.length %></li>
		<li>downvotes: <%= link.downvotes.length %></li>
	</ul>
    <% }); %>

</div>

</body>
</html>