<!DOCTYPE html>
<html lang="en">
<head>


<script src='../js/jquery10.js'></script>
<script src="../js/migrate.js"></script>
<script src="../js/modernizr.custom.57033.js"></script>


<style>

.profiles_listing{
	position:relative;
	float:left;
	width:500px;
}
.profile_item{
	position:relative;
	float:left;
	width:100%;
	margin-bottom:30px;
}

.profile_item div{
	position:relative;
	float:left;
	width:100%;
}

.profile_item .profile_item_pic{
	position:relative;
	float:left;
	width:200px;
	height:200px;
	background-size:cover;
	background-position:center;
}
.profile_item .send_user_message{
	position:relative;
	float:left;
	background-color:red;
	cursor:pointer;
	width:auto;
}
.filters_container{
	position:relative;
	float:left;
	width:100%;
	margin-bottom:50px;
	padding-bottom:50px;
	border-bottom:1px solid #000;
}
.demo{
	margin-top:50px;
	position:relative;
	width:400px;
	clear:both;	
}
.submit_filter{
	position:relative;
	float:left;
	background-color:blue;
	cursor:pointer;
	width:auto;
}

</style>

</head>
<body>




<div class="profiles_listing">

<% users_found.forEach(function(item) { %>
	<div class="profile_item">
		<div class="profile_item_pic" style='background-image:URL(../<%= item.profile_pic %>)'></div>
		<div class="profile_item_name"><%= item.firstname %></div>
		<div class="profile_item_id"><%= item.id %></div>
		<div class="profile_item_country"><%= item.country_name %></div>
		
		<div class="profile_item_cities">
			<% item.cities.forEach(function(city) { %>
				<span><%= city.city %></span>
			<% }); %>
		</div>
		
		<div class="profile_item_native_languages">
			<% item.native_languages.forEach(function(language) { %>
				<span><%= language.native_language %></span>
			<% }); %>
		</div>
		
		<div class="profile_item_sought_languages">
			<% item.sought_languages.forEach(function(language) { %>
				<span><%= language.sought_language %></span>
			<% }); %>
		</div>
		
		<div class="profile_item_interests">
			<% item.interests.forEach(function(interest) { %>
				<span><%= interest.interest %></span>
			<% }); %>
		</div>
		
		<div class="profile_item_last_login"><%= item.lastactive %></div>
		
		<a href="/messages/<%= item.id %>" class="send_user_message">Send this user a msg </a>
	</div>
<% }); %>





</div><!--profiles_listing-->



</body>
</html>